<% if FileTest.exists?('app/themes/'+theme_resolver+'/views/'+@field.model.downcase+'s/_field_'+@field.fci.machine_name+'.html.erb') %>
    <%= render @field.model.downcase+'s/field_'+@field.fci.machine_name+'.html.erb' %>
<% else %><%= @field.value unless @field.value.nil? %>
<% end %>