<% if FciQuantity.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <%= number_field_tag ":fci_quantity_value"+@fci.machine_name, class: 'form-control' %>
        <%= number_field_tag ":fci_quantity_measuring"+@fci.machine_name, class: 'form-control' %>
        <%= check_box_tag ":fci_quantity_active"+@fci.machine_name %>
        <span class="help-block"> <br/>  </span>
      </div>
    </div>
<% else %>
    <% FciQuantity.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).each do |decimal| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <%= number_field_tag ":fci_quantity_value"+@fci.machine_name, decimal.value %>
            <%= number_field_tag ":fci_quantity_measuring"+@fci.machine_name, decimal.measuring %>
            <%= check_box_tag ":fci_quantity_active"+@fci.machine_name %>
            <span class="help-block"> <br/>  </span>
          </div>
        </div>
    <% end %>
<% end %>