<%= form_for([:admin, @fci_quantity]) do |f| %>
    <% if @fci_quantity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_quantity.errors.count, "error") %> prohibited this fci_quantity from being saved:</h2>

          <ul>
            <% @fci_quantity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :value %><br>
      <%= f.text_field :value %>
    </div>
    <div class="field">
      <%= f.label :measuring %><br>
      <%= f.text_field :measuring %>
    </div>
    <div class="field">
      <%= f.label :active %><br>
      <%= f.check_box :active %>
    </div>
    <div class="field">
      <%= f.label :fci_id %><br>
      <%= f.text_field :fci_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
