<h1>Listing fci_quantities</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Measuring</th>
    <th>Active</th>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_quantities.each do |fci_quantity| %>
      <tr>
        <td><%= fci_quantity.value %></td>
        <td><%= fci_quantity.measuring %></td>
        <td><%= fci_quantity.active %></td>
        <td><%= fci_quantity.fci %></td>
        <td><%= fci_quantity.mid %></td>
        <td><%= fci_quantity.model %></td>
        <td><%= link_to 'Show', [:admin, fci_quantity] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_quantity_path(fci_quantity) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_quantity], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci quantity', new_admin_fci_quantity_path %>
