<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_quantity.value %>
</p>

<p>
  <strong>Measuring:</strong>
  <%= @fci_quantity.measuring %>
</p>

<p>
  <strong>Active:</strong>
  <%= @fci_quantity.active %>
</p>

<p>
  <strong>Fci:</strong>
  <%= @fci_quantity.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_quantity.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_quantity.model %>
</p>

<%= link_to 'Edit', edit_admin_fci_quantity_path(@fci_quantity) %> |
<%= link_to 'Back', admin_fci_quantities_path %>
