<h1>Listing carts</h1>

<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Record type</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.status %></td>
        <td><%= cart.record_type %></td>
        <td><%= cart.user %></td>
        <td><%= link_to 'Show', [:admin, cart] %></td>
        <td><%= link_to 'Edit', edit_admin_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', [:admin, cart], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_admin_cart_path %>
