<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @cart.status %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @cart.record_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @cart.user %>
</p>

<%= link_to 'Edit', edit_admin_cart_path(@cart) %> |
<%= link_to 'Back', admin_carts_path %>
