<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  Заказы
  <small>Список заказов</small>
</h3>
<%= paginate @orders, views_prefix: 'admin' %>
<div class="well">
  <table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
  <th>№ заказа</th>
    <th>Сумма</th>
    <th>Количество</th>
    <th>Статус</th>
    <th>Клиент</th>
    <th>Тип заказа</th>
    <th>Действия</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
      <td><%= order.id %></td>
        <td><%= order.line_items.sum(:total_price) %></td>
        <td><%= order.line_items.sum(:total_quantity) %></td>
        <td><%= order.status_name %></td>
        <td><%= order.user.profile.title if order.user %></td>
        <td><%= order.record_type.name %></td>
        <td>
	<%= link_to 'Редактировать', edit_admin_order_path(order) %>
       	<%= link_to 'Удалить', [:admin, order], method: :delete, data: {confirm: 'Are you sure?'} %>
	</td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>
<%= paginate @orders, views_prefix: 'admin' %>
