<% if FciPrice.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <div class="col-md-6">
          <%= number_field_tag ":fci_price_value"+@fci.machine_name, step: :any, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= select_tag(":fci_price_currency"+@fci.machine_name, options_for_select(available_currency, default_currency), class: 'form-control') %>
        </div>
        <span class="help-block"> <br/>  </span>
      </div>
    </div>
<% else %>
    <% FciPrice.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).each do |decimal| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <div class="col-md-6">
              <%= number_field_tag ":fci_price_value"+@fci.machine_name, decimal.value, step: :any, class: 'form-control' %>
            </div>
            <div class="col-md-6">
              <%= select_tag(":fci_price_currency"+@fci.machine_name, options_for_select(available_currency, decimal.currency||default_currency), class: 'form-control') %>
            </div>
            <span class="help-block"> <br/>  </span>
          </div>
        </div>
    <% end %>
<% end %>