<%= form_for([:admin, @fci_price]) do |f| %>
    <% if @fci_price.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_price.errors.count, "error") %> prohibited this fci_price from being saved:</h2>

          <ul>
            <% @fci_price.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :value %><br>
      <%= f.text_field :value %>
    </div>
    <div class="field">
      <%= f.label :currency %><br>
      <%= f.text_field :currency %>
    </div>
    <div class="field">
      <%= f.label :buy %><br>
      <%= f.check_box :buy %>
    </div>
    <div class="field">
      <%= f.label :name_buy %><br>
      <%= f.text_field :name_buy %>
    </div>
    <div class="field">
      <%= f.label :fci_id %><br>
      <%= f.text_field :fci_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
