<h1>Listing fci_prices</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Currency</th>
    <th>Buy</th>
    <th>Name buy</th>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_prices.each do |fci_price| %>
      <tr>
        <td><%= fci_price.value %></td>
        <td><%= fci_price.currency %></td>
        <td><%= fci_price.buy %></td>
        <td><%= fci_price.name_buy %></td>
        <td><%= fci_price.fci %></td>
        <td><%= fci_price.mid %></td>
        <td><%= fci_price.model %></td>
        <td><%= link_to 'Show', [:admin, fci_price] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_price_path(fci_price) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_price], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci price', new_admin_fci_price_path %>
