<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_price.value %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @fci_price.currency %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @fci_price.buy %>
</p>

<p>
  <strong>Name buy:</strong>
  <%= @fci_price.name_buy %>
</p>

<p>
  <strong>Fci:</strong>
  <%= @fci_price.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_price.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_price.model %>
</p>

<%= link_to 'Edit', edit_admin_fci_price_path(@fci_price) %> |
<%= link_to 'Back', admin_fci_prices_path %>
