<table>
  <thead>
  <tr>
    <th>Total price</th>
    <th>Total quantity</th>
    <th>Status</th>
    <th>Record type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.total_price %></td>
        <td><%= order.total_quantity %></td>
        <td><%= order.status %></td>
        <td><%= order.record_type %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>