<%= form_for(@cart) do |f| %>
    <% if @cart.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

          <ul>
            <% @cart.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.number_field :record_type_id %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
