<p id="notice"><%= notice %></p>

<h1>Listing Carts</h1>

<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Record type</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.status %></td>
        <td><%= cart.record_type %></td>
        <td><%= cart.user %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
