<%= form_for([:admin, @option_name], html: { class: 'form-horizontal option_name' }) do |f| %>
  <% if @option_name.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@option_name.errors.count, "error") %> prohibited this option_name from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @option_name.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :type, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :value, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :value, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.label :active, for: nil do %>
        <%= f.check_box :active %>
        <%= OptionName.human_attribute_name(:active) %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :position, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
