<div class="page-header">
  <h1>Editing option_name</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @option_name], class: 'btn btn-default' %>
<%= link_to 'Back', admin_option_names_path, class: 'btn btn-default' %>
