<div class="page-header">
  <h1>Listing option_names</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Value</th>
      <th>Active</th>
      <th>Position</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @option_names.each do |option_name| %>
      <tr>
        <td><%= option_name.name %></td>
        <td><%= option_name.type %></td>
        <td><%= option_name.value %></td>
        <td><%= option_name.active %></td>
        <td><%= option_name.position %></td>
        <td><%= link_to 'Show', [:admin, option_name], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_option_name_path(option_name), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, option_name], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option name', new_admin_option_name_path, class: 'btn btn-primary' %>
