<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @option_name.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Type:</strong></dt>
  <dd><%= @option_name.type %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Value:</strong></dt>
  <dd><%= @option_name.value %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Active:</strong></dt>
  <dd><%= @option_name.active %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Position:</strong></dt>
  <dd><%= @option_name.position %></dd>
</dl>

<%= link_to 'Edit', edit_admin_option_name_path(@option_name), class: 'btn btn-default' %>
<%= link_to 'Back', admin_option_names_path, class: 'btn btn-default' %>
