<% if FciSku.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <%= text_field_tag ":fci_sku_value"+@fci.machine_name, nil, class: 'form-control' %>
        <span class="help-block"> <br/>  </span>
      </div>
    </div>
<% else %>
    <% FciSku.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).each do |decimal| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <%= text_field_tag ":fci_sku_value"+@fci.machine_name, decimal.value, class: 'form-control' %>
            <span class="help-block"> <br/>  </span>
          </div>
        </div>
    <% end %>
<% end %>