<h1>Listing fci_skus</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Override</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_skus.each do |fci_sku| %>
      <tr>
        <td><%= fci_sku.value %></td>
        <td><%= fci_sku.override %></td>
        <td><%= link_to 'Show', [:admin, fci_sku] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_sku_path(fci_sku) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_sku], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci sku', new_admin_fci_sku_path %>
