<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_sku.value %>
</p>

<p>
  <strong>Override:</strong>
  <%= @fci_sku.override %>
</p>

<%= link_to 'Edit', edit_admin_fci_sku_path(@fci_sku) %> |
<%= link_to 'Back', admin_fci_skus_path %>
