<h1>Listing line_items</h1>

<table>
  <thead>
  <tr>
    <th>Total price</th>
    <th>Total quantity</th>
    <th>Status</th>
    <th>Record type</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Order</th>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.total_price %></td>
        <td><%= line_item.total_quantity %></td>
        <td><%= line_item.status %></td>
        <td><%= line_item.record_type %></td>
        <td><%= line_item.mid %></td>
        <td><%= line_item.model %></td>
        <td><%= line_item.order %></td>
        <td><%= line_item.cart %></td>
        <td><%= link_to 'Show', [:admin, line_item] %></td>
        <td><%= link_to 'Edit', edit_admin_line_item_path(line_item) %></td>
        <td><%= link_to 'Destroy', [:admin, line_item], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item', new_admin_line_item_path %>
