<%= form_for(@line_item) do |f| %>
    <% if @line_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

          <ul>
            <% @line_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :total_price %><br>
      <%= f.text_field :total_price %>
    </div>
    <div class="field">
      <%= f.label :total_quantity %><br>
      <%= f.text_field :total_quantity %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.number_field :record_type_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.text_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :order_id %><br>
      <%= f.text_field :order_id %>
    </div>
    <div class="field">
      <%= f.label :cart_id %><br>
      <%= f.text_field :cart_id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
