<p id="notice"><%= notice %></p>

<p>
  <strong>Total price:</strong>
  <%= @line_item.total_price %>
</p>

<p>
  <strong>Total quantity:</strong>
  <%= @line_item.total_quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @line_item.status %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @line_item.record_type %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @line_item.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @line_item.model %>
</p>

<p>
  <strong>Order:</strong>
  <%= @line_item.order %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
