<% if FciButtonBuy.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <%= text_field_tag ":fci_button_buy_text_buy"+@fci.machine_name, false, class: 'form-control' %>
        <span class="help-block"> <br/>  </span>
      </div>
    </div>
<% else %>
    <% FciButtonBuy.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id).each do |decimal| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <%= text_field_tag ":fci_button_buy_text_buy"+@fci.machine_name, decimal.text_buy %>
            <span class="help-block"> <br/>  </span>
          </div>
        </div>
    <% end %>
<% end %>