<%= form_for([:admin, @fci_button_buy]) do |f| %>
    <% if @fci_button_buy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_button_buy.errors.count, "error") %> prohibited this fci_button_buy from being
            saved:</h2>

          <ul>
            <% @fci_button_buy.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :text_buy %><br>
      <%= f.text_field :text_buy %>
    </div>
    <div class="field">
      <%= f.label :fci_id %><br>
      <%= f.text_field :fci_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :type %><br>
      <%= f.text_field :type %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
