<h1>Listing fci_button_buys</h1>

<table>
  <thead>
  <tr>
    <th>Text buy</th>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_button_buys.each do |fci_button_buy| %>
      <tr>
        <td><%= fci_button_buy.text_buy %></td>
        <td><%= fci_button_buy.fci %></td>
        <td><%= fci_button_buy.mid %></td>
        <td><%= fci_button_buy.model %></td>
        <td><%= fci_button_buy.type %></td>
        <td><%= link_to 'Show', [:admin, fci_button_buy] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_button_buy_path(fci_button_buy) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_button_buy], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci button buy', new_admin_fci_button_buy_path %>
