<p id="notice"><%= notice %></p>

<p>
  <strong>Text buy:</strong>
  <%= @fci_button_buy.text_buy %>
</p>

<p>
  <strong>Fci:</strong>
  <%= @fci_button_buy.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_button_buy.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_button_buy.model %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fci_button_buy.type %>
</p>

<%= link_to 'Edit', edit_admin_fci_button_buy_path(@fci_button_buy) %> |
<%= link_to 'Back', admin_fci_button_buys_path %>
